*{
    box-sizing: content-box;
    line-break: normal;
}


#div1{
    
    margin-left: 0px;
    float: left;
    width: 200px;
    height: 150px;
    background-color: rgb(148, 141, 141);
    text-align: center;
    margin-right: -100px;
}
#main{
column-width: 700px;
z-index: 2;


}
#article{
    
    float: left;
    width: 600px;
  padding: 20px;
  margin: 0 auto;

}
#boxes{
width: 500px;
height: 250px;
text-align: center;
background-color:rgb(228, 220, 178);
}
#div3{
    position: absolute;
    width: 340px;
    height: 170px;
    background-color: hotpink;
    text-align: center;
    margin-left: 200px;
    margin-top: -170px;


}
#div2{
    position: relative;
    width: 500px;
    height: 250px;
    text-align: center;
    background-color:rgb(228, 220, 178);

}
  